* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 95%;
}


.container_header {
  background-color: white;
}
.container_header .navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  padding-left: 20px;
  padding-right: 20px;
}
.container_header .navBar .logo_heder {
  max-width: 225px;
  width: 70%;
  z-index: 100;
  max-height: 65px;
  align-self: center;
  text-align: left;
}
.container_header .navBar .logo_heder .logo_index {
  width: 90%;
  z-index: 95;
  height: 65%;
}
.navigation_bar {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 15px;
}

.navigation_BurgerBar .navigation_burger{
  display: block;
  cursor: pointer;
 position: absolute;
 right: 0%;
}

.navigation_BurgerBar{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 4%;
  right: 2%;
 
}

.navigation_BurgerBar .nav_link{
  text-decoration: none;
  letter-spacing: 2.5px;
  padding: 10px 26px;
  color: #222222;
  background-color: rgba(211, 211, 211, 0.541)

  
}
.navigation_bar .nav_link {
  text-decoration: none;
  letter-spacing: 2.3px;
  padding: 10px 26px;
  color: #222222;
}
.container_header .navBar .cart_widget {
  width: 30%;
  position: relative;
  right: 10%;
}

.container_main {

  text-align: center;
  width: 100%;
  background-color: white;
  height: 1000px;
  
    
}

.container_itemList{

  margin: 3rem;
}

.item_list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  margin-top: 1rem;
}

.container_card{
  background-color: white;
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: all 0.3s ease;
}

.container_card:hover {
  box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.container_card img {
  width: 50%;
  height: auto;
}

.container_card h2 {
  margin-top: 1rem;
}

.container_card p {
  margin-top: 1rem;
}

.container_card button {
  margin-top: 1rem;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: rgb(108, 158, 231);
  border:1px solid rgb(108, 158, 231);
  box-shadow: 0px 0px 10px rgb(108, 158, 231);
}

.container_card button a{
  color: white;
  text-decoration: none;
}

.category_menu{
  
  display: flex;
  flex-direction: row;
  cursor: pointer;
  padding-bottom: 50px;
}
.category_link {
  padding-left: 6rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: rgba(211, 211, 211, 0.253); 
}

.category_link_a{
  text-decoration: none;
  color: black;
  padding-bottom: 5px;
}

.container_count{
 display: flex;
 border: 1px solid rgb(108, 158, 231);
margin-top: 100px;
margin-right: 5%;
margin-left: 5%;
height: 40px;
justify-content: space-between;
align-items: center;
box-shadow: 0px 0px 10px rgb(108, 158, 231);
;
}
.card_count{
  display: flex;
  position: relative;
  
  width: 100%;
  justify-content: space-between;
  align-items: center;
}


.card_count p {
  padding-left: 15px;
  padding-right: 15px;
  
}

.button_terminarCompra{
  background-color: white;
  width: 200px;
  height: 30px;
  margin-top: 170px;
  border-radius: 10px;
  border: 1px solid rgb(108, 158, 231);
  box-shadow: 0px 0px 10px rgb(108, 158, 231);
  cursor: pointer;
}

.iconMinus{
 display: flex;
 cursor: pointer;
 border: 1px solid rgb(108, 158, 231);
 background-color: rgb(108, 158, 231);
 color: white;

}

.iconPlus{
cursor: pointer;
border: 1px solid rgb(108, 158, 231);
background-color: rgb(108, 158, 231);
color: white;
}






.button_add{
 background-color: white;
 border:1px solid rgb(108, 158, 231);
 box-shadow: 0px 0px 10px rgb(108, 158, 231);
 padding: 5px;
 cursor: pointer;

}

.itemDetailContainer_container{
  width: 100%;
  height: 80%;
  margin-top: 10px;
  font-size: 20px;
  display: flex;
  position: absolute;
}
.itemDetail_container{
  display: grid;
  grid-template-columns: 40% 40% 20%;
  column-gap: 1em;
  width: 70%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.itemDetail_foto{
  
  width: 100%;
  height: 50%;
  
}
.itemDetail_imagenfoto{
  width: 100%;
}
.itemDetail_description{
  
  width: 100%;
 padding-top: 10%;
 padding-left: 10%;
 padding-right: 1%;
 padding-top: 10%;
}
.itemDetail_description_precio{
  font-size: 3rem;
}
.itemDetail_description_cuota{
  display: flex;
  margin-bottom: 5%;
  font-size: 1.2rem;
}
.itemDetail_description_cuota p{
  padding-left: 2%;
  color: rgb(1, 136, 1);
}
.itemDetail_description_mediosPago{
  color: rgb(38, 162, 240);
  margin-bottom: 30%;
}
.itemDetail_description ul{
  text-align: left;
}
.itemDetail_pago{
  border: 1px solid gray;
  border-radius: 10px;
}
.itemDetail_carrito{
  height: 50%;
}
.itemDetail_carritoInfo{
  margin-left: 2rem;
  padding-top: 1rem;
  color: rgb(1, 136, 1);
  
}
.itemDetail_carritoIcon{
  margin-left: 2rem;
  padding-top: 1rem;
  color: rgb(38, 162, 240);
}
.itemDetail_button{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 20%;
 
}
.itemDetail_button button{
  width: 90%;
  height: 30%;
  border: 1px solid rgb(108, 158, 231);
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 10px rgb(108, 158, 231);
  cursor: pointer;
}
.itemDetail_terminos{
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  margin: 8%;
  margin-top: 60%;
  
}
.itemDetail_terminos p {
  color: rgb(148, 143, 143);
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  
  }
.itemDetail_terminos p h3{
color: rgb(38, 162, 240);
}
.icon_terminos{
  color: rgb(148, 143, 143);
}

.container_carrito{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  background-color: lightgray;
  height: 100%;
  font-size: 20px;
}

.titulo_carrito{
  width: 70%;
  margin-top: 4rem ;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.titulo_carrito ul{
  border-bottom: 1px solid gray;
  width: 100%;
  padding-top: 1rem;
}

.titulo_carrito button{
  width: 15%;
  border: 1px solid rgb(108, 158, 231);
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 10px rgb(108, 158, 231);
  cursor: pointer;
  font-size: 15px;
}

.container_carritoComponent{
  background-color: white;
  width: 100%;
  height: max-content;
  margin-top: 3rem;
}

.container_article{
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 1%;
}

.container_article div{
  padding-left: 3%;
}

.subtitulo_item_carrito{
  color: gray;
  font-weight: normal;
}

.image_carrito{
  border: 1px solid gray;
  width: 7rem; 
}

.quit_item_carrito p{
  display: flex;
  justify-content: center;
  color: white;
  border: 1px solid red;
  background-color: red;
  width: 200%;
  border-radius: 50%;
  font-weight: bolder;
  cursor: pointer;
}

